.btn {
 
    border : 1px solid  #FFCC00;
    border-radius: 30px;

    padding: 15px 90px;

    background-color: transparent;

    color : white;
    text-transform: uppercase;

    

}

.btn_container{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 45px;
}

.span1{
 opacity: 0;
  display: none;
 transition: all 0.3s linear;
}

.span2{
 opacity: 0;
 display: none;
 transition: all 0.3s linear;
}


.visible{
    display: block;
    opacity: 1 !important;
}

@media(max-width : 900px) {
    
}