.form{
    display: flex;
    flex-wrap: wrap;

    max-width: 920px;

    padding: 30px;
    margin: 0 auto;

    color:  #000000;
    
   justify-content: space-evenly;


}

.inner_form{
    display : flex;
    align-items: center;

    
}

.inner_form img{
    max-width: 30px;
    max-height: 30px;
}

.inner_form p{
    margin-left: 10px;
}


.form input{
    border-radius: 20px;
    
    width: 305px;
    height: 49px;
    padding-left: 10px;
 
 }

 .form input:first-child{
   
    
    width: 517px;
    height: 214px;
 
 }

 .btn_div{
    display: flex;
    justify-content: center;

    padding: 20px 0;
 }

.btn {
    background-color: transparent;

    border: 1px solid #000000;
    cursor: pointer;

    border-radius: 20px;

    padding: 10px 20px;
    margin-left: 100px;

    max-height: 40px;
    
}



.last_inner_form{
    display: flex;

    justify-content: space-between;

    align-items: center;

    flex-wrap: wrap;
}

.textaredec{
  border: 2px solid black;

  border-radius: 20px;
  padding: 10px;
  height: 200px !important;
  width: 500px !important;
 
  outline: none;

  resize: none;
}

.textaredec:focus{
  border: 2px solid orange;
  }
@media(max-width : 900px){

  

     .form input{
       
        
        width: 280px;
      
     
     }

     .form input:first-child{
   
    
        width: 280px;
       
     
     }


     .last_inner_form{
        
        flex-direction: column;
        justify-content: center;
    
        
    }
    
    .btn {
        margin-left: 0;
        margin-top: 20px;
    }
}


@media (max-width : 747px){
    .form{
        justify-content: center;
    }
    .textaredec{
        width: 300px !important;
    }
    
}


@media (max-width : 370px){
  
    .textaredec{
        width: 200px !important;
    }
    
}