.container{
    max-width: 1190px;

    
    padding: 0 40px ;
    margin: 0 auto;
    
    overflow: hidden;


}

.Intro{
    background-image: url('../img/intro.png');
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 140px;
    padding-bottom: 40px;

    overflow: hidden;
    
}
