.news_container{
    background-color:  #FFFFFF;
    
    padding: 40px;

    border-radius: 20px;

    margin-top: 40px
}

.inner_container{
    display: flex;

    // flex-wrap: wrap;
    justify-content: center;

}


.contentL{
    margin-left : 80px;
    line-height: 30px;
    color : #264759;
}

.contentR{
    margin-right : 80px;
    line-height: 30px;
    color : #264759;
}

@media (max-width: 900px) {
    .img{
        min-width: 100%;
    }

    .contentL{
        margin-left : 0;
        line-height: 17px;
    }
    
    .contentR{
        margin-right : 0;
        line-height: 17px;
    }
    .contentL p{
        font-size: 9px;
        line-height: 17px;
    }
    
    .contentR p{
        font-size: 9px;
        line-height: 17px;
    }

    .contentL h1{
        font-size: 14px;
    }
    
    .contentR h1 {
        font-size: 14px;
    }

    .inner_container{
      
    
        flex-wrap: wrap;
       
    
    }
}

